In [51]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import gmaps

# Import API key
from api_keys import g_key

In [52]:
#Recuperamos el Archivo original
csv_path = "Carpetas2018.csv"
carpetas2018= pd.read_csv(csv_path,encoding="latin-1")
carpetas2018.head()

,Unnamed: 0,Unnamed: 0.1,ao_hechos,mes_hechos,fecha_hechos,delito,categoria_delito,fiscalia,agencia,unidad_investigacion,...,ao_inicio,mes_inicio,fecha_inicio,calle_hechos,calle_hechos2,longitud,latitud,geopoint,conducta,hora
0,0,21453,2018.0,Septiembre,2018-09-30 23:10:00,ROBO DE OBJETOS,DELITO DE BAJO IMPACTO,INVESTIGACIÃÂÃÂN EN BENITO JUÃÂÃÂREZ,BJ-1,UI-1SD,...,2018,Diciembre,2018-12-01 00:00,PENSILVANIA,NaN,-99.176638,19.385574,"19.3855741511,-99.1766377348",ROBO,23
1,1,21454,2018.0,Octubre,2018-10-26 12:00:00,ABUSO DE CONFIANZA,DELITO DE BAJO IMPACTO,INVESTIGACIÃÂÃÂN EN MIGUEL HIDALGO,MH-1,UI-1SD,...,2018,Diciembre,2018-12-01 00:19,LAGO ZIRAHUEN,NaN,-99.173020,19.444202,"19.4442020012,-99.1730199414",ENGAÃÂO,12
2,2,21455,2018.0,Agosto,2018-08-17 07:00:00,DESPOJO,DELITO DE BAJO IMPACTO,INVESTIGACIÃÂÃÂN EN MIGUEL HIDALGO,MH-4,UI-2SD,...,2018,Diciembre,2018-12-01 00:37,MARTIRES DE TACUBAYA,NaN,-99.183591,19.397132,"19.3971318825,-99.1835911348",ENGAÃÂO,7
3,3,21456,2018.0,Octubre,2018-10-30 07:15:00,ROBO DE OBJETOS,DELITO DE BAJO IMPACTO,INVESTIGACIÃÂÃÂN EN IZTAPALAPA,IZP-4,UI-2SD,...,2018,Diciembre,2018-12-01 00:45,CALZADA DE LA VIGA,NaN,-99.122577,19.372043,"19.3720428325,-99.1225767038",ROBO,7
4,4,21457,2018.0,Noviembre,2018-11-30 13:00:00,ROBO A CASA HABITACION SIN VIOLENCIA,DELITO DE BAJO IMPACTO,INVESTIGACIÃÂÃÂN EN MIGUEL HIDALGO,MH-1,UI-1SD,...,2018,Diciembre,2018-12-01 00:46,LAGO ARGENTINA,NaN,-99.200325,19.456944,"19.4569436872,-99.2003248624",ROBO,13

In [13]:
# Agrícola Oriental
Iztacalco=carpetas2018.loc[carpetas2018["alcaldia_hechos"] =="IZTACALCO", :]
AO=Iztacalco.loc[Iztacalco["colonia_hechos"] =="AGRÃÂÃÂCOLA ORIENTAL", :]
violencia_AO=AO.loc[AO["conducta"] =="VIOLENCIA", :]

In [16]:
# Polanco
MH=carpetas2018.loc[carpetas2018["alcaldia_hechos"] =="MIGUEL HIDALGO", :]
Polanco=MH.loc[MH["colonia_hechos"] =="POLANCO", :]
violencia_POLANCO=Polanco.loc[Polanco["conducta"] =="VIOLENCIA", :]

In [26]:
# Store latitude and longitude in locations
locations =violencia_POLANCO[["latitud", "longitud"]]
locations1 =violencia_AO[["latitud", "longitud"]]
# Fill NaN values and convert to float
rating = 1

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations)
heat_layer1 = gmaps.heatmap_layer(locations1)
# Add layer
fig.add_layer(heat_layer)
fig.add_layer(heat_layer1)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Store latitude and longitude in locations
locations =violencia_AO[["latitud", "longitud"]]

# Fill NaN values and convert to float
rating = 1

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Recuperamos el Archivo original
csv_path = "economic_units.csv"
poblacion= pd.read_csv(csv_path,encoding="latin-1")
poblacion.head()

,id,latitud,longitud,fecha_alta,nom_estab,codigo_act,nombre_act,per_ocu,cod_postal,cve_ent,entidad,cve_mun,municipio,cve_loc,localidad
0,8441800,19.366556,-99.181132,2019-11,AGRO DESARROLLADORES NUTRICIONALES Y ESPECIALI...,115111,Servicios de fumigaciÃn agrÃcola,6 a 10 personas,3940.0,9,CIUDAD DE Mâ¦XICO,14,Benito JuÂ·rez,1,Benito JuÂ·rez
1,8827515,19.438441,-99.199610,2019-11,ALTA ALIMENTACIâN GIGANTE,115119,Otros servicios relacionados con la agricultura,251 y mÂ·s personas,11520.0,9,CIUDAD DE Mâ¦XICO,16,Miguel Hidalgo,1,Miguel Hidalgo
2,8602727,19.300314,-99.163621,2019-11,CALIDAD AGROALIMENTARIA,115210,Servicios relacionados con la crÃa y explotac...,11 a 30 personas,14049.0,9,CIUDAD DE Mâ¦XICO,12,Tlalpan,1,Tlalpan
3,696550,19.422095,-99.067678,2014-12,COMERCIALIZADORA Y DISTRIBUIDORA DE VÃVERES S...,115113,Beneficio de productos agrÃcolas,6 a 10 personas,15610.0,9,CIUDAD DE Mâ¦XICO,17,Venustiano Carranza,1,Venustiano Carranza
4,962400,19.377642,-99.147073,2010-07,CONTROL DE AVES,115210,Servicios relacionados con la crÃa y explotac...,6 a 10 personas,3630.0,9,CIUDAD DE Mâ¦XICO,14,Benito JuÂ·rez,1,Benito JuÂ·rez

In [28]:
cp=poblacion["cod_postal"].value_counts()
cp1= pd.DataFrame(cp).reset_index()
cp1=cp1.rename(columns={"index":"cp","cod_postal":"empresas"})
cp1.head()

        cp  empresas
0   6010.0      1582
1   6700.0      1513
2   3100.0      1348
3   6600.0      1077
4  11000.0      1032

In [125]:
#Recuperamos el Archivo original
csv_path = "codigos-postales-colonia.csv"
CP= pd.read_csv(csv_path,encoding="latin-1")
CP=CP[["d_codigo","d_asenta","D_mnpio"]]
CP=CP.rename(columns={"d_codigo":"cp","d_asenta":"colonia"})
CP

       cp                 colonia         D_mnpio
0    6000                  CENTRO      CUAUHTEMOC
1    6010                  CENTRO      CUAUHTEMOC
2    6020                  CENTRO      CUAUHTEMOC
3    6040                  CENTRO      CUAUHTEMOC
4    6050                  CENTRO      CUAUHTEMOC
..    ...                     ...             ...
67  11540                 POLANCO  MIGUEL HIDALGO
68  11550                 POLANCO  MIGUEL HIDALGO
69  11560                 POLANCO  MIGUEL HIDALGO
70  16500    SANTA CRUZ ACALPIXCA      XOCHIMILCO
71  16600  SAN GREGORIO ATLAPULCO      XOCHIMILCO

[72 rows x 3 columns]

In [134]:
# Merge the two DataFrames together based on the Dates they share
empresasxcp = pd.merge(CP, cp1, on="cp")
empresasxcp["union"]=(empresasxcp["D_mnpio"]+empresasxcp["colonia"])
empresasxcolonia=empresasxcp.groupby(["union"]).sum()["empresas"].rename("empresas")

empresasxcolonia= pd.DataFrame(empresasxcolonia).reset_index()
empresasxcolonia

                                       union  empresas
0              BENITO JUAREZDEL VALLE CENTRO      1348
1                      BENITO JUAREZNARVARTE       867
2                  BENITO JUAREZPORTALES SUR       269
3                             COYOACANAJUSCO       216
4          COYOACANPEDREGAL DE SAN FRANCISCO        40
5           COYOACANPEDREGAL DE SANTA URSULA       189
6            COYOACANSAN FRANCISCO CULHUACAN       256
7                       CUAUHTEMOCBUENAVISTA       254
8                           CUAUHTEMOCCENTRO      3645
9                         CUAUHTEMOCDOCTORES       563
10                        CUAUHTEMOCGUERRERO       309
11                          CUAUHTEMOCJUAREZ      1077
12                         CUAUHTEMOCMORELOS       141
13            CUAUHTEMOCNONOALCO TLALTELOLCO        97
14                          CUAUHTEMOCOBRERA       370
15                      CUAUHTEMOCPERALVILLO       142
16                      CUAUHTEMOCROMA NORTE      1513
17           CUAUHTEMOCSANTA MARIA LA RIBERA       446
18                GUSTAVO A MADEROLINDAVISTA       858
19       GUSTAVO A MADEROSAN FELIPE DE JESUS       134
20                IZTACALCOAGRICOLA ORIENTAL       469
21               IZTACALCOAGRICOLA PANTITLAN       325
22           IZTAPALAPACANTA CRUZ MEYEHUALCO        69
23  IZTAPALAPADESARROLLO URBANO QUETZALCOATL       249
24      IZTAPALAPALEYES DE REFORMA 3A SECION       325
25            IZTAPALAPALOMAS DE SAN LORENZO        91
26             IZTAPALAPASAN MIGUEL TEOTONGO      1560
27           IZTAPALAPASANTA CRUZ MEYEHUALCO       249
28           IZTAPALAPASANTA MARTHE ACATITLA       185
29         IZTAPALAPAUNIDAD VICENTE GUERRERO        86
30                     MIGUEL HIDALGOANAHUAC       716
31                     MIGUEL HIDALGOPOLANCO      1449
32              TLALPANSAN ANDRES TOTOLTEPEC        84
33                TLALPANSAN MIGUEL TOPILEJO        75
34        VENUSTIANO CARRANZAJARDIN BALBUENA       273
35                VENUSTIANO CARRANZAMORELOS       136
36  VENUSTIANO CARRANZAMOZCTEZUMA 2A SECCION       307
37            VENUSTIANO CARRANZAZONA CENTRO       209
38          XOCHIMILCOSAN GREGORIO ATLAPULCO        72
39            XOCHIMILCOSANTA CRUZ ACALPIXCA        43

In [54]:
carpetas2018.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'ao_hechos', 'mes_hechos', 'fecha_hechos',
       'delito', 'categoria_delito', 'fiscalia', 'agencia',
       'unidad_investigacion', 'alcaldia_hechos', 'colonia_hechos',
       'ao_inicio', 'mes_inicio', 'fecha_inicio', 'calle_hechos',
       'calle_hechos2', 'longitud', 'latitud', 'geopoint', 'conducta', 'hora'],
      dtype='object')

In [104]:
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("AGRÃÂÃÂCOLA ORIENTAL", "AGRICOLA ORIENTAL")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("AGRÃÂÃÂCOLA PANTITLAN", "AGRICOLA PANTITLAN")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("SAN ANDRÃÂÃÂS TOTOLTEPEC", "SAN ANDRES TOTOLTEPEC")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("MOCTEZUMA 2A SECCIÃÂÃÂN", "MOCTEZUMA 2A SECCION")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("JUÃÂÃÂREZ", "JUAREZ")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("JARDÃÂÃÂN BALBUENA", "JARDIN BALBUENA")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("SAN FELIPE DE JESÃÂÃÂS", "SAN FELIPE DE JESUS")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("GRANJAS MÃÂÃÂXICO", "GRANJAS MEXICO")
carpetas2018["colonia_hechos"]= carpetas2018["colonia_hechos"].replace("LEYES DE REFORMA 3A SECCIÃÂÃÂN", "LEYES DE REFORMA 3A SECCION")

In [105]:
violencia=carpetas2018.loc[carpetas2018["conducta"] =="VIOLENCIA", :]
porcolonia=violencia["colonia_hechos"].value_counts()
porcolonia1.head(20)

                      Colonia  Denuncias
0                      CENTRO       1302
1                    DOCTORES        626
2           AGRICOLA ORIENTAL        555
3   PEDREGAL DE SANTO DOMINGO        519
4                     MORELOS        481
5                    GUERRERO        445
6            DEL VALLE CENTRO        415
7       SANTA MARIA LA RIBERA        390
8                  BUENAVISTA        377
9          AGRICOLA PANTITLAN        364
10      SAN ANDRES TOTOLTEPEC        353
11       MOCTEZUMA 2A SECCION        339
12                 ROMA NORTE        337
13                   NARVARTE        319
14                     OBRERA        281
15                     JUAREZ        235
16            JARDIN BALBUENA        233
17        SAN MIGUEL TOPILEJO        231
18               PORTALES SUR        230
19                     AJUSCO        220

In [106]:
# Agrícola Oriental
violencia=carpetas2018.loc[carpetas2018["conducta"] =="VIOLENCIA", :]
violencia1=violencia[{"alcaldia_hechos","colonia_hechos"}]
porcolonia=violencia["colonia_hechos"].value_counts()
porcolonia1= pd.DataFrame(porcolonia).reset_index()
porcolonia1=porcolonia1.rename(columns={"index":"Colonia","colonia_hechos":"Denuncias"})
porcolonia1.head()
len(porcolonia1)

1526

In [107]:
violencia=carpetas2018.loc[carpetas2018["conducta"] =="VIOLENCIA", :]

base=violencia.groupby(["alcaldia_hechos","colonia_hechos"]).count()["delito"].rename("Denuncias")

# Convert to DataFrame
DenunciasxAlcaldiaxcolonia = pd.DataFrame(base).reset_index()

# Preview DataFrame
DenunciasxAlcaldiaxcolonia.head(20)

   alcaldia_hechos                                   colonia_hechos  Denuncias
0   ALVARO OBREGON                                       19 DE MAYO          6
1   ALVARO OBREGON                 1A AMPLIACIÃÂÃÂN PRESIDENTES         20
2   ALVARO OBREGON                                      1A VICTORIA          9
3   ALVARO OBREGON                     1ER REACOMODO CORPUS CHRISTI          1
4   ALVARO OBREGON                     2A AMPLIACIÃÂÃÂN EL PIRU          8
5   ALVARO OBREGON              2A AMPLIACIÃÂÃÂN JALALPA TEPITO         44
6   ALVARO OBREGON                 2A AMPLIACIÃÂÃÂN LA MEXICANA          1
7   ALVARO OBREGON                 2A AMPLIACIÃÂÃÂN PRESIDENTES         29
8   ALVARO OBREGON                  2A SECCIÃÂÃÂN CAÃÂÃÂADA          6
9   ALVARO OBREGON                 2A. AMPLIACION JALALPA EL GRANDE         18
10  ALVARO OBREGON                      2O REACOMODO CORPUS CHRISTI          3
11  ALVARO OBREGON                         2O REACOMODO TLACUITLAPA          7
12  ALVARO OBREGON                                      8 DE AGOSTO          7
13  ALVARO OBREGON                       ABRAHAM M. GONZÃÂÃÂLEZ         12
14  ALVARO OBREGON                                        ACUEDUCTO         26
15  ALVARO OBREGON                                        ACUILOTLA          3
16  ALVARO OBREGON  AGRICOLA / EX-HACIENDA DE GUADALUPE CHIMALISTAC         10
17  ALVARO OBREGON                                     ALCANTARILLA          3
18  ALVARO OBREGON                                         ALFALFAR         12
19  ALVARO OBREGON                                     ALFONSO XIII         49

In [108]:
DXAXC=DenunciasxAlcaldiaxcolonia.sort_values(by="Denuncias",ascending=False)

In [139]:

DXAXC["union"]=(DXAXC["alcaldia_hechos"]+DXAXC["colonia_hechos"])
empresasxcolonia
porcolonia = pd.merge(empresasxcolonia,DXAXC, on="union")

In [144]:
porcolonia

,union,empresas,alcaldia_hechos,colonia_hechos,Denuncias
0,BENITO JUAREZDEL VALLE CENTRO,1348,BENITO JUAREZ,DEL VALLE CENTRO,415
1,BENITO JUAREZNARVARTE,867,BENITO JUAREZ,NARVARTE,319
2,BENITO JUAREZPORTALES SUR,269,BENITO JUAREZ,PORTALES SUR,230
3,COYOACANAJUSCO,216,COYOACAN,AJUSCO,220
4,COYOACANPEDREGAL DE SAN FRANCISCO,40,COYOACAN,PEDREGAL DE SAN FRANCISCO,1
5,COYOACANPEDREGAL DE SANTA URSULA,189,COYOACAN,PEDREGAL DE SANTA URSULA,208
6,COYOACANSAN FRANCISCO CULHUACAN,256,COYOACAN,SAN FRANCISCO CULHUACAN,145
7,CUAUHTEMOCBUENAVISTA,254,CUAUHTEMOC,BUENAVISTA,253
8,CUAUHTEMOCCENTRO,3645,CUAUHTEMOC,CENTRO,1302
9,CUAUHTEMOCDOCTORES,563,CUAUHTEMOC,DOCTORES,626
10,CUAUHTEMOCGUERRERO,309,CUAUHTEMOC,GUERRERO,445
11,CUAUHTEMOCJUAREZ,1077,CUAUHTEMOC,JUAREZ,235
12,CUAUHTEMOCMORELOS,141,CUAUHTEMOC,MORELOS,296
13,CUAUHTEMOCOBRERA,370,CUAUHTEMOC,OBRERA,281
14,CUAUHTEMOCPERALVILLO,142,CUAUHTEMOC,PERALVILLO,173
15,CUAUHTEMOCROMA NORTE,1513,CUAUHTEMOC,ROMA NORTE,337
16,CUAUHTEMOCSANTA MARIA LA RIBERA,446,CUAUHTEMOC,SANTA MARIA LA RIBERA,390
17,GUSTAVO A MADEROLINDAVISTA,858,GUSTAVO A MADERO,LINDAVISTA,145
18,GUSTAVO A MADEROSAN FELIPE DE JESUS,134,GUSTAVO A MADERO,SAN FELIPE DE JESUS,198
19,IZTACALCOAGRICOLA ORIENTAL,469,IZTACALCO,AGRICOLA ORIENTAL,555
20,IZTACALCOAGRICOLA PANTITLAN,325,IZTACALCO,AGRICOLA PANTITLAN,364
21,IZTAPALAPADESARROLLO URBANO QUETZALCOATL,249,IZTAPALAPA,DESARROLLO URBANO QUETZALCOATL,218
22,IZTAPALAPALOMAS DE SAN LORENZO,91,IZTAPALAPA,LOMAS DE SAN LORENZO,201
23,IZTAPALAPASAN MIGUEL TEOTONGO,1560,IZTAPALAPA,SAN MIGUEL TEOTONGO,175
24,IZTAPALAPASANTA CRUZ MEYEHUALCO,249,IZTAPALAPA,SANTA CRUZ MEYEHUALCO,198
25,IZTAPALAPAUNIDAD VICENTE GUERRERO,86,IZTAPALAPA,UNIDAD VICENTE GUERRERO,147
26,MIGUEL HIDALGOANAHUAC,716,MIGUEL HIDALGO,ANAHUAC,175
27,MIGUEL HIDALGOPOLANCO,1449,MIGUEL HIDALGO,POLANCO,169
28,TLALPANSAN ANDRES TOTOLTEPEC,84,TLALPAN,SAN ANDRES TOTOLTEPEC,353
29,TLALPANSAN MIGUEL TOPILEJO,75,TLALPAN,SAN MIGUEL TOPILEJO,231
30,VENUSTIANO CARRANZAJARDIN BALBUENA,273,VENUSTIANO CARRANZA,JARDIN BALBUENA,233
31,VENUSTIANO CARRANZAMORELOS,136,VENUSTIANO CARRANZA,MORELOS,185
32,VENUSTIANO CARRANZAZONA CENTRO,209,VENUSTIANO CARRANZA,ZONA CENTRO,159
33,XOCHIMILCOSAN GREGORIO ATLAPULCO,72,XOCHIMILCO,SAN GREGORIO ATLAPULCO,154